{% extends "base.html" %}
{% block title %}Исполнители{% endblock %}
{% block content %}
<h1>Исполнители</h1>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Фото</th>
            <th>Редакт</th>
            <th>Удаление</th>
        </tr>
    </thead>
    <tbody>
        {% for a in artists %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{a.name}}</td>
            <td>
                {% if a.image %}
                    <img src="{{a.image.url}}" alt="{{a.name}}" width="80">
                {% else %}
                    Нет фото
                {% endif %}
            </td>
            <td><a href="{% url 'edit_artist' a.id %}">Редактировать</a></td>
            <td><a href="{% url 'delete_artist' a.id %}">Удалить</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table> <br>
<a href="{% url 'add_artist' %}">Добавить исполнителя</a>
{% endblock %}