<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="menu">
                <a href="/">Главная</a>
                <a href="/genres">Жанры музыки</a>
                <a href="/track">Песни</a>
            </div>
        </div>
        <div id="container">
            <div id="content">
                {% block content %} content {% endblock content %}
            </div>
        </div>
        <div id="footer">
            
        </div>
    </div>
</body>
</html>
