{% extends "base.html" %}
{% block title %}Песни{% endblock %}
{% block content %}
<h1>Песни</h1>

<form method="post">
    {% csrf_token %}
    <select name="artist" onchange="this.form.submit()" style="padding: 8px; font-size: 16px;">
        <option value="">Все артисты</option>
        {% for artist in artists %}
            <option value="{{ artist.id }}"
                {% if selected_artist and selected_artist.id == artist.id %}selected{% endif %}>
                {{artist.name}}
            </option>
        {% endfor %}
    </select>
</form>
<br>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Продолжительность</th>
            <th>Жанр</th>
        </tr>
    </thead>
    <tbody>
        {% for t in track1 %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{t.title}}</td>
            <td>{{t.duration}}</td>
            <td>
                {% for g in t.genre.all %}
                    {{g.name_ru}}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}